h1 {
	font-family: 'Lobster', cursive;
	color: #85411D;
	text-shadow: #FF8100 1px 1px, #FF8100 -1px 1px, #FF8100 -1px -1px, #FF8100 1px -1px;
	text-align: center;
}

.navbar-brand{
	font-family: 'lobster', "times new roman";
	font-size: 40px;
	padding-top: 30px;
}
.navbar{
	font-size: 20px;
	height: 100px;
}
body { 
	padding-top: 120px;
	background: #99CD2C;
}

@media all and (max-width: 650px){
	#map{
		display: none;
	}
	#logo{
		display: none;
	}

	.carousel-inner{
		padding-left: 0px;
	}

/* Retirer les bordures des images */
.thumbnail{
	text-align: center;
	border: 0px;
	background: none;
	font-size: 22px;
}

/* Retirer les ombres latérales */
.carousel-control.left {
    background-image: none;
    filter: none;
    background-repeat: none;
}
.carousel-control.right {
    background-image: none;
    filter: none;
    background-repeat: none;
}
